/* start articals */
.artical{
    border: 1px solid #ccc;
    padding-top: 18px;
    width:78%;
    /* border:1px solid red; */
    z-index: 999;
    justify-content:space-around;
    background-color:#000;
} 
.sort-and-post{
    display:flex;
    /* border:1px solid blue; */
    justify-content:space-between;
    margin-bottom:30px;
}
.sort-group{
    display:flex;
    justify-content: flex-start;
}
.post-group{
    display:flex;
}
.sort-group i{
    /* margin-right: 15px; */
    padding: 10px;
    font-size: 12px;
}
.sort-group a{
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 12px;
    color: white;
    font-weight: normal;
}
.sort-new{
    border:1px solid #05F2F2;
    border-radius: 20px;
    margin-right: 15px;
}
.sort-hot{
    border:1px solid white;
    border-radius: 20px;
}
.post a{
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 12px;
    color: white;
    font-weight: normal;
}
.post i{
    padding: 10px;
    font-size: 12px;
    border:1px solid white;
    border-radius: 20px;
    margin-right: 10px; 
}

.card{
    margin-bottom: 30px;
    border-radius: 20px;
    position: relative;
}
.card-fixed{
    /* background: none; */
    border:1px solid white;
    background-image: url('./imgs/fixed-bg.png');
    background-size: cover
}

.user-top{
    display:flex;
    margin-bottom: 20px;
}
.user-logo{
    border-radius: 50%;
    width:45px;
    height: 45px;
    border: 1px solid black;
    margin-right: 15px;
    font-family: 'Noto Sans HK';
    font-weight: 900;
}

.user-logo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.cover{
    object-fit: cover;
}
.user-name{
    margin-top: 5px;
    color:black;
    font-size: 12px;
    font-weight: bold;
}
.post-time{
    color:black;
    font-size:12px;
}

.article-title{
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
}
.article-text{
    font-size:12px;
    color: #000;
    font-weight:500;
}

.article-hashtag a{
    font-weight:bold;
    color: black;
    font-size: 14px;
}
.pagination{
    margin:0 auto;
    display:flex;
    justify-content:center;
    margin-bottom: 30px;
}
.page-link{
    background-color: #000;
    border: none;
    color: white;
    font-size: 10px;
}
.page-link:hover{
    background-color: #000;
    border: none;
    color: #05F2F2;
    font-size: 10px;
}

.like-box{
    width:45%;
    border:1px solid #fff;
    display: flex;
    justify-content:space-between;
    background-color:#c7c7c7;
    border-radius:30px;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.605);
    /* filter: blur(2px); */
    position:absolute;
    bottom:-8px;
    right:7%;
}
.like-box i{
    /* border:1px solid #fff; */
    color: #05F2F2;
    padding:0 30px;
    font-size:12px;
}
.fixed-box{
    width:90px;
    border:1px solid #fff;
    background-color: #b6b6b6;
    border-radius:20px;
    position:absolute;
    top:-8px;
    left:15%;
}
.fixed-box p{
    color:#000;
    font-size: 12px;
    letter-spacing:1px;
    font-weight: bold;
}
.fixed-box i{
    color:#05F2F2;
    position:absolute;
    top:-7px;
    left:5px;
}
/* end articals */